* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    overflow-x: visible !important;
    font-family: 'Lexend Deca';
}

/*--------------------------------------*/
.main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 70px;
}


.main .navbar{
  width: 303px;
  height: 1090px;
  background: #069DF8;
  padding: 162px 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.chose{
  width: 129px;
  height: 40px;
  background: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #069DF8;
  justify-content: center;
  border-radius: 8px;
  text-decoration: none;
}

.category{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  height: 40px;
  display: flex;
  align-content: center;
  align-items: center;
}


.category:hover{
    width: 129px;
    height: 40px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #069DF8;
    justify-content: center;
    border-radius: 8px;
    text-decoration: none;
}


.line{
    width: 303px;
    height: 1px;
    background: #FFFFFF;
}

/*-------------------------------------*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 200px auto;
    padding: 60px 20px;
    background: #fff;
    border-radius: 5px;
    width: 390px;
    height: 240px;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    text-align: center;
    color: #00629E;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .popup .content {
    max-height: 30%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 45px;
}

  .co{
    text-decoration: none;
    background: #fff;
    color: #069df8;
    border-radius: 8px;
    border: 2px solid #069DF8;
    padding: 8px 40px;
    line-height: 14px;
  }

  .khong{
    text-decoration: none;
    background: #069df8;
    color: #fff;
    border-radius: 8px;
    border: 2px solid #069DF8;
    padding: 8px 30px;
    line-height: 14px;
  }
  
  /*---------------------------------------*/
  
.main .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding-top: 162px;
  }

.tittle{
  display: flex;
  flex-direction: row;
  gap: 625px;
  align-items: center;
}

.tittle-big{
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #000000;
}

.field-group{
    width: 86px;
    height: 27px;
    color: #ffffff;
}

.select-field{
    border-radius: 8px;
    border: 1px solid #000000;
    padding: 4px 10px;
    background: #ffffff;
}

.select-field option:checked{
  background-color: #069DF8;
}

/*------------------------------------*/

.data{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}

.notice{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.notice-data{
    display: flex;
    flex-direction: row;
    gap: 44px;
    background: #069DF8;
    width: 500px;
    height: 170px;
    align-items: center;
    justify-content: center;
}

.tittle-medium{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.notice-data img{
    width: 111px; ;
    height:111px ;
}

.notice-data-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.tittle-info{
    font-weight: 900;
font-size: 36px;
line-height: 45px;
color: #FFFFFF;
}

.data-info{
    font-weight: 500;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
}

.notice-data .warning{
    width: 20px;
    height: 20px;
    margin-bottom: 170px;
    margin-left: -16px;
}

/*--------------------------*/
.chart{
    padding-top: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}